<table id="boards" class="table">
  <thead>
    <th>Name</th>
    <th>Creator</th>
    <th>Created at</th>
  </thead>
  <tbody>
    <% boards.each do |board| %>
      <tr>
        <td>
          <%= link_to "#{board.name}", board %>
        </td>

        <td>
          <%= board.email %>
        </td>

        <td>
          <%= board.created_at.strftime('%m/%d/%Y %I:%M%p') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
