<p style="color: green"><%= notice %></p>
<div class="container">
  <h3>
    <strong>Board Name:</strong>
    <%= @board.name %>
  </h3>

  <p>
    <strong>Created By:</strong>
    <%= @board.email %>
  </p>

  <p>
    <table style="border: 1px solid black">
      <tbody>
        <% @board.state.each do |row| %>
          <tr>
            <% row.each do |cell| %>
              <td class="p-1">
                <% if cell == 0 %>
                  <i class="fas fa-square" style="color:grey"></i>
                <% else %>
                  <i class="fas fa-bomb"></i>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>
</div>


<div>
  <%= link_to "Back to boards", boards_path %>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
